.Header {
    width: 100%;
}

.img-block {
    display: flex;
}

.title-block {
    display: flex;
    padding: 0 20px 30px 20px;
}

.img-logo {
    width: 10%;
    padding: 1rem 1rem;
    min-height: 50px;
    min-width: 150px;
}

.page-title {
    width: 100%;
    font-size: 1.7em;
    font-weight: 400;
}

@media screen and (max-width: 420px) {
    .title-block {
        flex-direction: column;
    }

    .img-logo {
        width: 25%;
        min-width: 100px;
    }
}